.amarillo{
	width: 230px;
	height: 190px;
	border: 11px solid yellow;
	text-align: center;
	padding: 5px 12px 0px;
	margin-bottom: 10px;
}
.jh{
	width: 230px;
	height: 190px;
	border:11px solid yellow;
	text-align: center;
	padding: 5px 12px 0px;
	margin-left: auto;
	

}