.caja{
	width: 200px;
	height: 250px;
	border:2px solid #E66833;
	

}
.caja1{
	width: 200px;
	height: 250px;
	border:2px solid #E66833;
	

}
.caja2{
	width: 200px;
	height: 250px;
	border:2px solid #E66833;
	
}